[Unit]
Description=SIS Clock Service
After=network.target

[Service]
WorkingDirectory=/home/sis/sis-clock-express
ExecStart=/home/sis/.nvm/versions/node/v20.13.1/lib/node_modules/npm run dev
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
